<h1><%= @dish.name %></h1>
<section class='ingredients'>
  <% @dish.ingredients.each do |ingredient| %>
    <ul>
      <li><%= ingredient.name %></li>
    </ul>
  <% end %>
</section>
<p><%= @dish.chef.name %></p>
<p>Total Calories: <%= @dish.total_calories %></p>
